* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    
}

.hidden {
    display: none;
}

h1 { 
    text-align: center;
    margin-top: 100px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.time {
    top: 0;
    right:0;
    position:absolute;
}

.container {
    margin: 0;
    position: relative;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-choices button {
    margin: .5rem;
    border-radius: 12px;
}

#start-button, #highscores-button, #back-button {
    border-radius: 12px;
}


footer {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}