* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    
}

.hidden {
    display: none;
}

h1 { 
    text-align: center;
    margin-top: 100px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.time {
    top: 0;
    right:0;
    position:absolute;
}

.container {
    margin: 0;
    position: relative;
    height: 90px;
}

.center {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
}

