* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    
}

.hidden {
    display: none;
}

h1 { 
    text-align: center;
    margin-top: 100px;
}

.time {
    top: 0;
    right:0;
    position:absolute;
}
